.VPHero .name,
.VPHero .text {
    max-width: none;
}

@media (min-width: 960px) {
    .VPHero .name,
    .VPHero .text {
        max-width: none;
    }
}

@media (min-width: 640px) {
    .VPHero .name,
    .VPHero .text {
        max-width: none;
    }
}
